{% extends '_base.html' %}

{% block content %}

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading"><i class="fa fa-car"></i> Cars for Sale</h1>
                        <p class="intro-text">Find cars for sale by neighborhood.</p>
                        {% include '_form_search.html' %}
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div id="map"></div>

    <div class="container content-section col-md-8 col-md-offset-2">
        <table class="table" id="results"></table>
    </div>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact Start Bootstrap</h2>
                <p>Feel free to email us to provide some feedback on our templates, give us suggestions for new templates and themes, or to just say hello!</p>
                <p><a href="mailto:feedback@startbootstrap.com">feedback@startbootstrap.com</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <li>
                        <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <script type="text/template" class="result">
        <tr class="clickable" data-url="https://instamotor.com/vehicle/<%- rc.id %>" id="car_<%- rc.id %>">
            <td>
                <img class="img-car" src="<%- rc.images[0].uri %>">
            </td>
            <td class="list-desc">
                <h4><%- rc.model_year.year %> <%- rc.make.name %> <%- rc.model.name %></h4>
                <ul class="no-points">
                    <li>Mileage: <%- rc.mileage %></li>
                    <li>City MPG: <%- rc.technical_specs.city %></li>
                    <li>Highway MPG: <%- rc.technical_specs.highway %></li>
                </ul>
                <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg view-more"><span class="network-name">View More Details</span></a>
            </td>
        </tr>
    </script>
{% endblock %}
